<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>UbiCar</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-3496376881163066~5065089378</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Necesitamos tu ubicación para ayudarte a encontrar tu coche.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Necesitamos acceder al reconocimiento de voz para guiarte hasta tu coche.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Usamos tu identificador para mostrar anuncios personalizados.</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>whatsapp</string>
    </array>
</dict>
</plist>
