<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier
GADApplicationIdentifier
GADApplicationIdentifier
GADApplicationIdentifier
vvGADApplicationIdentifier
GADApplicationIdentifier
GADApplicationIdentifier
GADApplicationIdentifier</key>
	<string>ca-app-pub-3496376881163066~5065089378</string>
</dict>
</plist>
